/* ====================================
   Card customization
==================================== */
.minor-characters {
    gap: 0.5rem;
}

.minor-characters .card strong {
    min-width: 9ch;
}

@media (min-width: 600px) {
    .minor-characters {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        gap: 1.5rem;
    }
}